---
import Layout from '../../layouts/Layout.astro';
import Alerts from '../../components/base/Alert.astro';
import Button from '../../components/base/Button.astro';
import SectionTab from '../../components/sectionTab.astro';
import Scroll from '../../components/structure/Scroll.astro';

import Component from '../../i18n/base/alert/code-component.md';
import Css from '../../i18n/base/alert/code-css.md';
import OneImplementacion from '../../i18n/base/alert/code-one.md';
import TwoImplementacion from '../../i18n/base/alert/code-two.md';
import ThreeImplementacion from '../../i18n/base/alert/code-three.md';
import FourImplementacion from '../../i18n/base/alert/code-four.md';
import FiveImplementacion from '../../i18n/base/alert/code-five.md';

const defaultTitle = ['Preview', 'Implementation'];
const basicTitle = ['Information','Component', 'CSS'];
---
<Layout 
    title="Components Alert."
    description='Component UI Alert to astro'>
    <div class="maqueta">
        <header>
            <h2 class=" text-2xl font-bold">Alert</h2>
            <p>This reusable component renders a customizable alert message with a clear visual style.</p>
        </header>
        <SectionTab titles={basicTitle} slotName={['preview', 'component', 'css']} class='h-[19.8rem]'>
            <section slot="preview" class="flex flex-col gap-2 h-72 p-3 my-3 fondo-previsual">
                <Scroll class='w-full h-72'>
                    <div class="flex flex-col gap-3">
                        <h3>Props</h3>
                        <ul>
                            <li>Class?: string: An optional string that allows you to set a custom CSS class for the alert box.</li>
                            <li>[x: string]: any: This syntax allows for any other additional properties to be passed to the component 
                                (catch-all for flexibility).
                            </li>
                        </ul>
                        <h3>Template</h3>
                        <ul>
                            <li>...rest: Spreads any remaining properties (like custom styles or IDs) onto the (div) element.</li>
                            <li>
                                Class=className: Sets the CSS class for the alert box, using either the provided class prop or the 
                                default defaultClass
                            </li>
                            <li>
                                Slot: This slot allows you to insert content within the alert box. You can use it to display 
                                the actual message you want to convey
                            </li>
                        </ul>
                        <h3>Styles</h3>
                        <ul>
                            <li>defaultClass: Sets a default CSS class with basic styles for the alert box</li>
                        </ul>
                    </div>
                </Scroll>
            </section>
            <section slot="component" class="max-h-72">
                <Scroll class='w-full h-72'>
                    <Component />
                </Scroll>
            </section>
            <section slot="css" class="max-h-72">
                <Scroll class='w-full h-72'>
                    <Css />
                </Scroll>
            </section>
        </SectionTab>
        <SectionTab titles={defaultTitle} slotName={['preview', 'implementation']} class='h-[16.8rem]'>
            <section slot="preview" class="flex gap-1 justify-center items-center h-60 fondo-previsual">
                <Alerts>
                    <picture>
                        <svg class="text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.008-3.018a1.502 1.502 0 0 1 2.522 1.159v.024a1.44 1.44 0 0 1-1.493 1.418 1 1 0 0 0-1.037.999V14a1 1 0 1 0 2 0v-.539a3.44 3.44 0 0 0 2.529-3.256 3.502 3.502 0 0 0-7-.255 1 1 0 0 0 2 .076c.014-.398.187-.774.48-1.044Zm.982 7.026a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2h-.01Z" clip-rule="evenodd"/>
                        </svg>
                    </picture>
                    <p>12 unread messages. Tap to see.</p>
                </Alerts>
            </section>
            <section slot="implementation" >
                <Scroll class='w-full h-60'>
                    <OneImplementacion />
                </Scroll>
            </section>
        </SectionTab>
        <SectionTab titles={defaultTitle} slotName={['preview', 'implementation']} class='h-[16.8rem]'>
            <section slot="preview" class="flex gap-1 justify-center items-center h-60 fondo-previsual">
                <Alerts class='default text-white font-semibold  bg-blue-700'>
                    <picture>
                        <svg class="text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                    </picture>
                    <p>New software update available.</p>
                </Alerts>
            </section>
            <section slot="implementation" >
                <Scroll class='w-full h-60'>
                    <TwoImplementacion />
                </Scroll>
            </section>
        </SectionTab>
        <SectionTab titles={defaultTitle} slotName={['preview', 'implementation']} class='h-[16.8rem]'>
            <section slot="preview" class="flex gap-1 justify-center items-center h-60 fondo-previsual">
                <Alerts class='default text-green-400 font-semibold border-2 border-green-400'>
                    <picture>
                        <svg class="text-green-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
                        </svg>
                    </picture>
                    <p>Your purchase has been confirmed!</p>
                </Alerts>
            </section>
            <section slot="implementation" >
                <Scroll class='w-full h-60'>
                    <ThreeImplementacion />
                </Scroll>
            </section>
        </SectionTab>
        <SectionTab titles={defaultTitle} slotName={['preview', 'implementation']} class='h-[16.8rem]'>
            <section slot="preview" class="flex gap-1 justify-center items-center h-60 fondo-previsual">
                <Alerts class='default text-red-400 font-semibold border-2 border-red-400 flex justify-center items-center'>
                    <picture>
                        <svg class="text-red-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                    </picture>
                    <p>Error! Task failed successfully.</p>
                    <Button class='px-2 py-1  hover:bg-red-200 rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 underline'>See</Button>
                </Alerts>
            </section>
            <section slot="implementation" >
                <Scroll class='w-full h-60'>
                    <FourImplementacion />
                </Scroll>
            </section>
        </SectionTab>
        <SectionTab titles={defaultTitle} slotName={['preview', 'implementation']} class='h-[16.8rem]'>
            <section slot="preview" class="flex gap-1 justify-center items-center h-60 fondo-previsual">
                <Alerts class='default text-white font-semibold bg-black'>
                    <picture>
                        <svg class="text-red-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z"/>
                        </svg>
                    </picture>
                    <p>we use cookies for no reason.</p>
                </Alerts>
            </section>
            <section slot="implementation" >
                <Scroll class='w-full h-60'>
                    <FiveImplementacion />
                </Scroll>
            </section>
        </SectionTab>
    </div>
</Layout>

<style>
    ul{
        display: flex;
        flex-direction: column;
        text-wrap: pretty;
        gap: 0.25rem;
        font-weight: 200;
        font-size: 0.7rem;
    }
    h3{
        text-align: center;
        font-weight: 700;
        color: rgb(205, 155, 251);
    }
</style>